<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="account">
	
	<!-- 등록 -->
	<insert id="insert">
		insert into account(
			account_id , account_pw , account_nickname , 
			account_email , account_birth , account_contact , 
			account_post , account_address1 , account_address2
		)
		values(
			#{accountId} , #{accountPw} , #{accountNickname} , 
			#{accountEmail} , #{accountBirth} , #{accountContact} , 
			#{accountPost} , #{accountAddress1} , #{accountAddress2}
		)
	</insert>
	
	<!-- 상세조회(R) -->
	<select id="detail" resultType="AccountDto">
		select * from account where account_id = #{accountId}
	</select>
	
	<select id="detailByAccountNickname" resultType="AccountDto">
		select * from account where account_nickname = #{accountNickname}
	</select>
	
	
	<!-- 
		컬럼 키워드 검색 
		[기존 구문]
		select * from account 
		where instr(#1, ?) > 0 and account_level != '관리자'
		order by #1 asc, account_id asc
		
		여기서 #1은 항목(replace로 정적 배치), ?는 동적 배치
		
		mybatis에서는 정적 배치는 $ , 동적 배치는 # 홀더를 사용
	-->
	<select id="search" resultType="AccountDto">
		select * from account
		where 
			instr(${column} , #{keyword}) > 0 
			and 
			account_level != '관리자'
		order by ${column} asc , account_id asc
	</select>
	
	<!-- 
		복합 검색(Complex Search) 
		- 테이블 컬럼의 모든 요소를 활용한 검색
		- 문자열, 숫자, 날짜 , 일치, 유사, 구간 등 다양한 처리가 가능하게 구현
		- 컬럼이 있어도 되고 없어도 되도록 조건부 처리
	-->
	<select id="complexSearch" resultType="AccountDto">
		select * from account
		<!-- 
			where절이 조건부로 존재할 때 사용하는 태그 
			- 내부에 작성된 and 구문은 상황에 맞게 알아서 제거됨
			- 즉, 내부의 조건구문은 and 또는 or로 시작해야함 (대부분 and로 시작)
		-->
		<where>
			<!-- 아이디 : 유사 검색 -->
			<if test="accountId != null">
			and instr(account_id, #{accountId}) > 0
			</if>
			<!-- 닉네임 : 유사 검색 -->
			<if test="accountNickname != null">
			and instr(account_nickname, #{accountNickname}) > 0
			</if>
			<!-- 이메일 : 유사 검색 -->
			<if test="accountEmail != null">
			and instr(account_email, #{accountEmail}) > 0
			</if>
			<!-- 전화번호 : 유사 검색(시작) -->
			<if test="accountContact != null">
			and account_contact like #{accountContact} || '%'
			<!-- and account_contact like concat(#{accountContact}, '%') -->
			</if>
			<!-- 생년월일 : 일치 검색 -->
			<if test="accountBirth != null">
			and account_birth = #{accountBirth}
			</if>
			<!-- 포인트 : 구간 검색 -->
			<choose>
				<when test="minAccountPoint != null and maxAccountPoint != null">
					and account_point between #{minAccountPoint} and #{maxAccountPoint}
				</when>
				<when test="minAccountPoint != null">
					<!-- and account_point &gt;= #{minAccountPoint} -->
					<!-- 사용할 수 없는 글자가 있다면 Character Data 구문을 만들어 표시 -->
					<![CDATA[
						and account_point >= #{minAccountPoint}
					]]>
				</when>
				<when test="maxAccountPoint != null">
					<!-- and account_point &lt;= #{maxAccountPoint} -->
					<![CDATA[
						and account_point <= #{maxAccountPoint}
					]]>
				</when>
			</choose>
			
			<!-- 가입일 검사 -->
			<choose>
				<when test="beginAccountJoin != null and endAccountJoin != null">
					and account_join 
						between 
						to_timestamp(#{beginAccountJoin} || '00:00:00.000', 'yyyy-mm-dd hh24:mi:ss.ff3')
						and 
						to_timestamp(#{endAccountJoin} || '23:59:59.999', 'yyyy-mm-dd hh24:mi:ss.ff3')
				</when>
				<when test="beginAccountJoin != null">
					<![CDATA[
					and account_join >= to_timestamp(#{beginAccountJoin} || '00:00:00.000', 'yyyy-mm-dd hh24:mi:ss.ff3')
					]]>
				</when>
				<when test="endAccountJoin != null">
					<![CDATA[
					and account_join <= to_timestamp(#{endAccountJoin} || '23:59:59.999', 'yyyy-mm-dd hh24:mi:ss.ff3')
					]]>
				</when>
			</choose>
			
			<!-- 원하는 등급을 검색 -->
			<if test="accountLevelList != null and accountLevelList.size() > 0">
				<!-- item(변수명), collection(저장소), separator(구분자) -->
				<foreach item="accountLevel" collection="accountLevelList"
								separator="," open="and account_level in (" close=")">
					#{accountLevel}
				</foreach>
			</if>
			
			<!-- 주소 토큰으로 검색 -->
<!-- 			<if test="addressTokenList != null and addressTokenList.length > 0"> -->
			<if test="addressTokenList != null and addressTokenList.size() > 0">
				and 
				<foreach collection="addressTokenList" item="token" 
						separator="and" open="(" close=")">
					instr(account_address1, #{token}) > 0
				</foreach>
			</if>
			
		</where>
	</select>	
	
</mapper>






