<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">

	<select id="sequence" resultType="long">
		select board_seq.nextval from
		dual
	</select>

	<insert id="insert" parameterType="BoardDto">
		insert into board(
		board_no ,
		title ,
		writer_no , content ,
		write_time , edit_time ,
		read_count , type
		)
		values(
		#{boardNo} , #{title} ,
		#{writerNo} , #{content} ,
		systimestamp
		, null ,
		0 , #{type}
		)
	</insert>

	<select id="list" resultType="BoardDto">
		select
		board_no,
		title,
		writer_no as
		writerNo,
		content,
		write_time as writeTime,
		edit_time as editTime,
		read_count as readCount,
		type
		from board
		order by board_no desc
	</select>

	<select id="detail" parameterType="long" resultType="BoardDto">
		select
		board_no,
		title,
		writer_no as writerNo,
		content,
		write_time as writeTime,
		edit_time as editTime,
		read_count as readCount,
		type
		from board
		where
		board_no = #{boardNo}
	</select>

	<select id="listByType" resultType="BoardDto"
		parameterType="string">
		select
		board_no, title, writer_no as writerNo, content,
		write_time as writeTime, edit_time as editTime,
		read_count as
		readCount, type
		from board
		where type = #{type} order by board_no desc
	</select>

	<delete id="delete" parameterType="long">
		delete from board where
		board_no = #{boardNo}
	</delete>

	<update id="update" parameterType="BoardDto">
		update board
		<set>
			<if test="title != null">
				title=#{title},
			</if>
			<if test="content != null">
				content=#{content},
			</if>
			edit_time=systimestamp
		</set>
		where board_no=#{boardNo}
	</update>

	<update id="updateBoardRead" parameterType="long">
		update board
		set
		read_count = read_count + 1
		where board_no = #{boardNo}
	</update>

	<select id="count" resultType="int" parameterType="PageVO">
    select count(*) from board
    where type = #{type}
    
    <if test="loginLevel != 'ADMIN'">
        <if test="type == 'QNA'">
            and writer_no = #{loginNo}
        </if>
    </if>
    
    <if test="column != null and keyword != null">
        and ${column} like '%' || #{keyword} || '%'
    </if>
</select>

	<select id="countQna" resultType="long" parameterType="PageVO">
		select count(*) from BOARD where TYPE = #{type}
		<if test="column != null and keyword != null">
			and ${column} like '%' || #{keyword} || '%'
		</if>
	</select>

	<select id="selectList" resultType="BoardDto" parameterType="PageVO">
    select * from (
        select rownum rn, tmp.* from (
            select 
                B.board_no as boardNo, 
                B.title,
                B.content as Content, 
                B.writer_no as writerNo,
                B.write_time as writeTime, 
                B.type,
                (select count(*) from comments where board_no = B.board_no) as commentCount
            from board B
            where type = #{type}
            
            <if test="loginLevel != 'ADMIN'">
                <if test="type == 'QNA'">
                    and B.writer_no = #{loginNo}
                </if>
            </if>
            
            <if test="column != null and keyword != null">
                and ${column} like '%' || #{keyword} || '%'
            </if>
            order by board_no desc
        ) tmp
    ) where rn between #{begin} and #{end}
</select>

	<select id="selectCount" resultType="int" parameterType="map">
		SELECT count(*) FROM board
		WHERE type = #{type}
		<if test="writerNo != null">
			AND writer_no = #{writerNo}
		</if>
	</select>

	<select id="selectListByPaging" parameterType="map"
		resultType="BoardDto">
		SELECT *
		FROM (
		SELECT ROWNUM rn, T.*
		FROM (
		SELECT
		board_no as boardNo,
		title,
		content,
		writer_no as writerNo,
		write_time as writeTime,
		read_count as
		readCount,
		type,
		(SELECT count(*) FROM COMMENTS WHERE
		board_no =
		B.board_no) as commentCount
		FROM board B
		WHERE type = #{type}
		<if test="writerNo != null">
			AND writer_no = #{writerNo}
		</if>
		ORDER BY board_no DESC
		) T
		)
		WHERE rn BETWEEN #{begin} AND #{end}
	</select>

	<select id="selectCountByMember" resultType="int"
		parameterType="map">
		SELECT count(*) FROM board
		WHERE type = #{type} AND
		writer_no = #{writerNo}
	</select>
</mapper>