<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="escrowLedger">

    <select id="sequence" resultType="long">
        select escrow_ledger_seq.nextval from dual
    </select>

    <insert id="insert">
        insert into escrow_ledger (
            escrow_ledger_no, bid_no, product_no, bidder_no, amount, status, description
        ) values (
            #{escrowLedgerNo}, #{bidNo}, #{productNo}, #{bidderNo}, #{amount}, #{status}, #{description}
        )
    </insert>

	<!-- 해당 상품의 status로 객체 찾아오기 (단일 조회 기대) -->
    <select id="findDtoByProductNoAndStatus" resultType="EscrowLedgerDto">
    	select *
    	from escrow_ledger
    	where
        	product_no = #{productNo}	AND status = #{targetStatus}
        order by amount desc, escrow_ledger_no asc
	</select>
    
    <!-- 해당 상품의 status로 pk 찾아오기 (현재 잠금 상태 및 낙찰 상태 / 단일 조회 기대) -->
	<select id="findEscrowNoByProductNoAndStatus" resultType="Long">
	    select escrow_ledger_no
	    from escrow_ledger
    	where
        	product_no = #{productNo}	AND status = #{targetStatus}
	</select>
	
	<!-- 입찰 번호로 Dto 찾아오기 (단일 조회) -->
	<select id="findDtoByBidNo" resultType="EscrowLedgerDto">
	    select *
	    from escrow_ledger
    	where bid_no = #{bidNo}
	</select>
	
	<!-- 입찰 번호로 pk 찾아오기 (단일 조회) -->
	<select id="findEscrowNoByBidNo" resultType="Long">
	    select escrow_ledger_no
	    from escrow_ledger
    	where bid_no = #{bidNo}
	</select>
	
    <!-- 특정 입찰자의 escrow 기록 불러오기 -->
    <select id="selectListByBidderAndProduct" resultType="EscrowLedgerDto">
        select *
        from escrow_ledger
        	where bidder_no = #{bidderNo}
          		and product_no = #{productNo}
        order by created_time desc
    </select>

    <!-- Status 변경 처리 -->
    <update id="updateStatusByEscrowNo">
        update escrow_ledger
        	set 
        		status = #{changeStatus},
           		updated_time = systimestamp
        	where 
        		escrow_ledger_no = #{escrowLedgerNo}
    </update>
    
</mapper>
