<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member">

    <!-- 회원가입 -->
    <insert id="insert" parameterType="com.kh.final3.dto.MemberDto">
        insert into member (
            member_no,
            ID,
            PW,
            NICKNAME,
            NAME,
            EMAIL,
            BIRTH,
            CONTACT,
            POST,
            ADDRESS1,
            ADDRESS2
        ) values (
            member_seq.nextval,
            #{memberId},
            #{memberPw},
            #{memberNickname},
            #{memberName},
            #{memberEmail},
            #{memberBirth},
            #{memberContact},
            #{memberPost},
            #{memberAddress1},
            #{memberAddress2}
        )
    </insert>

    <!-- 아이디로 회원 조회 -->
    <select id="detailByMemberId" parameterType="String" resultType="com.kh.final3.dto.MemberDto">
        select * from member where ID = #{memberId}
    </select>

    <!-- 닉네임으로 회원 조회 -->
    <select id="detailByMemberNickname" parameterType="String" resultType="com.kh.final3.dto.MemberDto">
        select * from member where NICKNAME = #{memberNickname}
    </select>
    
    <select id="findNicknameByMemberNo" parameterType="long" resultType="String">
        select NICKNAME from member where NO = #{memberNo}
    </select>
    <!-- 이름 + 생일 + 연락처로 회원 조회 -->
<select id="selectOneByNameBirthContact" parameterType="map" resultType="com.kh.final3.dto.MemberDto">
    select * from member
    where name = #{name} and birth = #{birth} and contact = #{contact}
</select>

</mapper>
