<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member"> 

    <insert id="insert" parameterType="MemberDto">
        insert into member (
            member_no,
            id,
            pw,
            nickname,
            name,
            email,
            birth,
            contact,
            post,
            address1,
            address2
        ) values (
            member_seq.nextval,
            #{id},
            #{pw},
            #{nickname},
            #{name},
            #{email},
            #{birth},
            #{contact},
            #{post},
            #{address1},
            #{address2}
        )
        
    </insert>
    
    <select id="detail" resultType="MemberDto">
        select * from member where member_no = #{memberNo}
    </select>

 	<select id="detailById" resultType="MemberDto">
        select * from member where id = #{id}
    </select>
    
    <select id="detailByNickname"  resultType="MemberDto">
        select * from member where nickname = #{nickname}
    </select>
    
    <select id="findNicknameByMemberNo" resultType="String">
        select nickname from member where member_no = #{memberNo}
    </select>
    
    <!-- 이름 + 생일 + 연락처로 회원 조회 -->
	<select id="selectOneByNameBirthContact" resultType="MemberDto">
    	select * from member
    	where name = #{name} and birth = #{birth} and contact = #{contact}
	</select>
    
    <select id="search" resultType="MemberDto">
        select * from member
        where 
            instr(${column} , #{keyword}) > 0 
            and 
            role != 'ADMIN'
        order by ${column} asc , id asc
    </select>
    <!--복합 검색-->
    <select id="complexSearch" resultType="MemberDto">
        select *
        from member
        <where>
            </where>
    </select>

	<update id="updateMemberStatus" >
        update member
        set role = #{status}
        where member_no = #{memberNo}
    </update>
   <!-- 회원 삭제 -->
<delete id="deleteMember">
    delete from member
    where member_no = #{memberNo}
</delete>

<!-- 비밀번호 조회 -->
<select id="findPasswordByMemberNo" resultType="string">
    select pw
    from member
    where member_no = #{memberNo}
</select>
<!-- 회원 수정 -->
<update id="updateMember">
    update member
    set
        email = #{email},
        post = #{post},
        address1 = #{address1},
        address2 = #{address2},
        contact = #{contact}
    where member_no = #{memberNo}
</update>
<!-- 회원번호로 회원 조회-->
<select id="selectOneByMemberNo" resultType="MemberDto">
    select *
    from member
    where member_no = #{memberNo}
</select>
<!--비밀번호 변경-->
<update id="updatePassword" >
    update member
    set pw = #{memberPw}
    where member_no = #{memberNo}
</update>
<!--이메일로 아이디 찾기-->
<select id="selectOneByEmail" resultType="MemberDto">
  select * from member where email = #{email}
</select>
<!--이메일과 아이디로 비밀번호 찾기1-->
<select id="selectOneByIdAndEmail" resultType="MemberDto">
  select * from member where id = #{id} and email = #{email}
</select>

<!--관리자가 조회하는 회원 리스트-->
<select id="selectMemberList" resultType="MemberListVO">
select member_no as memberNo, id, nickname, role, point, created_time as createdTime from member order by member_no asc
</select>
<!--관리자가 검색하는 회원 리스트-->
<select id="selectMemberListSearch" resultType="MemberListVO">
  select member_no as memberNo, id, nickname, role, point, created_time AS createdTime
  from member
  <where>
    <choose>
<when test="type == 'id'">
  id like '%' || #{keyword} || '%'
</when>
<when test="type == 'nickname'">
  nickname like '%' || #{keyword} || '%'
</when>
<otherwise>
  (id like '%' || #{keyword} || '%'
   or nickname like '%' || #{keyword} || '%')
</otherwise>
    </choose>
  </where>
  order by member_no asc
</select>


	<!-- 잔액이 음수가 되는 경우를 방지 및 실행 0건으로 확인 가능 -->
	<update id="deductMemberPoint"> 
		update member
    		set 
        		point = point - #{amount}
    	where 
    		member_no = #{memberNo} and point >= #{amount}
	</update>
	
	<update id="addMemberPoint">
    	update member
    		set 
        		point = point + #{amount}
    		where 
        		member_no = #{memberNo}
	</update>
	
	<select id="findMemberPoint" resultType="long">
		select point
			from member
		where member_no = #{memberNo}
	</select>
	
	
</mapper>
