<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="message">

	<select id="sequence" resultType="long">
		select messages_seq.nextval
		from dual
	</select>

	<insert id="insertMessage" parameterType="MessageDto">
		insert into message (
		message_no, sender_no, receiver_no, content, type, url, product_no
		)
		values (
		#{messageNo}, #{senderNo}, #{receiverNo}, #{content}, #{type},
		#{url}, #{productNo}
		)
	</insert>

	<insert id="insertReceiver" parameterType="MessageDto">
		INSERT INTO MESSAGE_RECEIVE (
		MESSAGE_NO, RECEIVER_NO, IS_READ
		)
		VALUES (
		#{messageNo}, #{receiverNo}, 'N'
		)
	</insert>

	<select id="selectOne" parameterType="long"
		resultType="MessageDto">
		select
		m.message_no,
		m.sender_no,
		m.receiver_no,
		m.content,
		m.type,
		m.sent_time as sentTime,
		m.read_time as readTime,
		m.is_read as isRead,
		m.sender_deleted as senderDeleted,
		m.receiver_deleted as receiverDeleted,
		m.url as url,
		m.product_no as productNo,
		ms.nickname as senderNickname,
		mr.nickname as receiverNickname
		from message m
		join member ms on m.sender_no =
		ms.member_no
		join member mr on m.receiver_no = mr.member_no
		where m.message_no = #{messageNo}
	</select>

	<update id="updateReadTime" parameterType="long">
		update message set
		is_read = 'Y',
		read_time = systimestamp
		where message_no = #{messageNo}
	</update>

	<update id="updateSenderDelete" parameterType="long">
		update message set
		sender_deleted = 'Y'
		where message_no = #{messageNo}
	</update>

	<update id="updateReceiverDelete" parameterType="long">
		update message
		set
		receiver_deleted = 'Y'
		where message_no = #{messageNo}
	</update>

	<select id="countUnreadAlerts" parameterType="long"
		resultType="long">
		select count(*)
		from message
		where receiver_no = #{memberNo}
		and is_read = 'N'
		and type ='SYSTEM_ALERT'
		and receiver_deleted = 'N'
	</select>

	<select id="countSent" parameterType="map" resultType="long">
		select count(*)
		from message m
		where m.sender_no = #{memberNo}
		and m.sender_deleted = 'N'

		<if test="searchType != null and keyword != null and keyword != ''">
			<choose>
				<when test="searchType == 'content'">
					AND m.content LIKE '%' || #{keyword} || '%'
				</when>
				<when test="searchType == 'nickname'">
					AND (select nickname from member where member_no =
					m.receiver_no) LIKE '%' || #{keyword} || '%'
				</when>
			</choose>
		</if>

		<if test="types != null and !types.isEmpty()">
			and m.type in
			<foreach collection="types" item="type" open="(" close=")"
				separator=",">
				#{type}
			</foreach>
		</if>
	</select>

	<select id="selectSentListByPaging" parameterType="map"
		resultType="MessageDto">
		select * from (
		select rownum as rn, tmp.* from (
		select
		m.message_no,
		m.sender_no,
		m.receiver_no,
		m.content,
		m.type,
		m.sent_time as sentTime,
		m.read_time as readTime,
		m.is_read as isRead,
		m.sender_deleted as senderDeleted,
		m.receiver_deleted as receiverDeleted,
		m.url as url,
		m.product_no as productNo,
		(select nickname from member where member_no = m.receiver_no) as
		receiverNickname
		from message m
		where m.sender_no = #{memberNo}
		and m.sender_deleted = 'N'

		<if test="searchType != null and keyword != null and keyword != ''">
			<choose>
				<when test="searchType == 'content'">
					AND m.content LIKE '%' || #{keyword} || '%'
				</when>
				<when test="searchType == 'nickname'">
					AND (select nickname from member where member_no = m.receiver_no) LIKE
					'%' || #{keyword} || '%'
				</when>
			</choose>
		</if>

		<if test="types != null and !types.isEmpty()">
			and m.type in
			<foreach collection="types" item="type" open="(" close=")"
				separator=",">
				#{type}
			</foreach>
		</if>
		order by m.message_no desc
		) tmp
		)
		where rn between #{begin} and #{end}
	</select>

	<select id="countReceived" parameterType="map" resultType="long">
		select count(*)
		from message m
		where m.receiver_no = #{memberNo}
		and m.receiver_deleted = 'N'

		<if test="searchType != null and keyword != null and keyword != ''">
			<choose>
				<when test="searchType == 'content'">
					AND m.content LIKE '%' || #{keyword} || '%'
				</when>
				<when test="searchType == 'nickname'">
					AND (select nickname from member where member_no =
					m.sender_no) LIKE '%' || #{keyword} || '%'
				</when>
			</choose>
		</if>

		<if test="types != null and !types.isEmpty()">
			and m.type in
			<foreach collection="types" item="type" open="(" close=")"
				separator=",">
				#{type}
			</foreach>
		</if>
	</select>

	<select id="selectReceivedListByPaging" parameterType="map"
		resultType="MessageDto">
		select * from (
		select rownum as rn, tmp.* from (
		select
		m.message_no,
		m.sender_no,
		m.receiver_no,
		m.content,
		m.type,
		m.sent_time as sentTime,
		m.read_time as readTime,
		m.is_read as isRead,
		m.sender_deleted as senderDeleted,
		m.receiver_deleted as receiverDeleted,
		m.url as url,
		m.product_no as productNo,
		(select nickname from member where member_no = m.sender_no) as senderNickname
		from message m
		where m.receiver_no = #{memberNo}
		and m.receiver_deleted = 'N'

		<if test="searchType != null and keyword != null and keyword != ''">
			<choose>
				<when test="searchType == 'content'">
					AND m.content LIKE '%' || #{keyword} || '%'
				</when>
				<when test="searchType == 'nickname'">
					AND (select nickname from member where member_no = m.sender_no) LIKE
					'%' || #{keyword} || '%'
				</when>
			</choose>
		</if>

		<if test="types != null and !types.isEmpty()">
			and m.type in
			<foreach collection="types" item="type" open="(" close=")"
				separator=",">
				#{type}
			</foreach>
		</if>
		order by m.message_no desc
		) tmp
		)
		where rn between #{begin} and #{end}
	</select>

	<select id="selectConversationByProduct" parameterType="map"
		resultType="MessageDto">
		select
		message_no, sender_no, receiver_no, content, type,
		sent_time as sentTime,
		is_read as isRead, product_no as productNo,
		(select nickname from member where member_no = sender_no) as senderNickname
		from message
		where product_no = #{productNo}
		and (sender_no = #{memberNo} or receiver_no = #{memberNo})
		and type = 'INQUIRY'
		order by sent_time asc
	</select>

	<select id="selectUnreadList" resultType="MessageDto"
		parameterType="long">
		select *
		from (
		select
		m.message_no as messageNo,
		m.sender_no as senderNo,
		m.receiver_no as receiverNo,
		m.content,
		m.type as type,
		m.sent_time as sentTime,
		m.is_read as isRead,
		m.url,
		ms.nickname as senderNickname
		from message m
		join member ms on m.sender_no = ms.member_no
		where
		m.receiver_no = #{receiverNo}
		and m.is_read = 'N'
		and m.receiver_deleted = 'N'
		order by sent_time desc
		)
		where rownum &lt; 6
	</select>

	<select id="findMemberNoByNickname" resultType="long">
		SELECT
		MEMBER_NO
		FROM
		MEMBER
		WHERE
		NICKNAME = #{nickname}
	</select>
</mapper>