<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="orders">

	<select id="sequence" resultType="long">
		select order_seq.nextval
        from dual
	</select>

    <!-- 주문 생성 -->
    <insert id="insert">
        insert into orders(
            order_no, product_no, buyer_no, seller_no, final_price,
            receiver_name, receiver_phone, post, address1, address2,
            courier, tracking_number, status
        ) values (
            #{orderNo}, #{productNo}, #{buyerNo}, #{sellerNo}, #{finalPrice},
            #{receiverName}, #{receiverPhone}, #{post}, #{address1}, #{address2},
            #{courier}, #{trackingNumber}, #{status}
        )
    </insert>

    <!-- 주문 단건 조회 -->
    <select id="selectOneForUpdate" resultType="ordersDto">
        select *
        from orders
        where order_no = #{orderNo}
    </select>
    
    <!-- 주문 단건 조회 -->
    <select id="selectOne" resultType="ordersDto">
        select *
        from orders
        where order_no = #{orderNo}
    </select>

    <!-- 구매자가 주문한 내역 -->
    <select id="selectByBuyer"  resultType="ordersDto">
        select *
        from orders
        where buyer_no = #{buyerNo}
        order by created_time desc
    </select>

    <!-- 판매자가 판매한 내역 -->
    <select id="selectBySeller" resultType="ordersDto">
        select *
        from orders
        where seller_no = #{sellerNo}
        order by created_time desc
    </select>

    <!-- 송장 번호 업데이트 -->
    <update id="updateTrackingInfo" >
        update orders
        set 
        	courier = #{courier},
        	tracking_number = #{trackingNumber},
            updated_time = systimestamp
        where order_no = #{orderNo}
    </update>

    <!-- 주문 상태 업데이트 -->
    <update id="updateStatus">
        update orders
        set status = #{changeStatus},
            updated_time = systimestamp
        where order_no = #{orderNo}
    </update>

    <!-- 주문 완료 처리 -->
    <update id="completeOrder">
        update orders
        set status = 'COMPLETED',
            completed_time = systimestamp,
            updated_time = systimestamp
        where order_no = #{orderNo}
        	and status = 'DELIVERED'
    </update>
    
    <update id="updateShippingAddress">
	    update orders
	    set
	        receiver_name = #{receiverName},
	        receiver_phone = #{receiverPhone},
	        post = #{post},
	        address1 = #{address1},
	        address2 = #{address2},
	        updated_time = systimestamp
	    where order_no = #{orderNo}
	</update>
	
	<select id="findSettlementTargets" resultType="long">
	    select order_no
	    from orders
	    where status = 'DELIVERED'
	      and 
	       <![CDATA[
	      delivered_time <= SYSTIMESTAMP - #{days}
			]]>
	</select>
	
	<update id="markDelivered">
	    update orders
	    set status = 'DELIVERED',
	        delivered_time = SYSTIMESTAMP,
	        updated_time = SYSTIMESTAMP
	    where order_no = #{orderNo}
	      and status = 'SHIPPED'
	</update>
	
	<select id="countAdminOrders" resultType="int">
	    SELECT COUNT(*)
	    FROM orders o
	    JOIN product p ON o.product_no = p.product_no
	    JOIN member m ON o.buyer_no = m.member_no
	</select>

	<select id="selectAdminOrderList" resultType="AdminOrderListVO">
			    SELECT *
		FROM (
		    SELECT
		        o.order_no              AS orderNo,
		        o.product_no            AS productNo,
		
		        p.name                  AS productName,
		
		        buyer.nickname          AS buyerNickname,
		        seller.nickname         AS sellerNickname,   
		
		        o.final_price           AS finalPrice,
		
		        o.status                AS orderStatus,
		        p.status                AS productStatus,
		
		        CASE
		            WHEN o.courier IS NOT NULL
		             AND o.tracking_number IS NOT NULL
		            THEN 1
		            ELSE 0
		        END                     AS invoiceRegistered,
		
		        o.created_time          AS createdTime,
		        p.end_time              AS endTime,
		
		        ROW_NUMBER() OVER (
		            ORDER BY o.order_no DESC
		        ) rn
		    FROM orders o
		    JOIN product p 
		        ON o.product_no = p.product_no
		    JOIN member buyer 
		        ON o.buyer_no = buyer.member_no
		    JOIN member seller
		        ON o.seller_no = seller.member_no 
		)
		WHERE rn BETWEEN #{begin} AND #{end}
	</select>

</mapper>
