<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product">

    <!-- 시퀀스 -->
    <select id="sequence" resultType="int">
        select product_seq.nextval
        from dual
    </select>

    <!-- 등록 -->
    <insert id="add">
        insert into product(
              product_no
            , seller_no
            , name
            , category_code
            , description
            , start_price
            , instant_price
            , start_time
            , end_time
        ) values (
              #{productNo}
            , #{sellerNo}
            , #{name}
            , #{categoryCode}
            , #{description}
            , #{startPrice}
            , #{instantPrice}
            , #{startTime}
            , #{endTime}
        )
    </insert>

    <!-- 전체 목록 -->
    <select id="list" resultType="ProductDto">
        select *
        from product
        order by product_no desc
    </select>

    <!-- 상세 조회 -->
    <select id="detail" resultType="ProductDto">
        select *
        from product
        where product_no = #{productNo}
    </select>

    <!-- 삭제 -->
    <delete id="delete">
        delete from product
        where product_no = #{productNo}
    </delete>

    <!-- 전체 수정 -->
    <update id="update">
        update product
        set
              name          = #{name}
            , category_code = #{categoryCode}
            , description   = #{description}
            , start_price   = #{startPrice}
            , final_price   = #{finalPrice}
            , instant_price = #{instantPrice}
            , start_time    = #{startTime}
            , end_time      = #{endTime}
            , status        = #{status}
            , buyer_no      = #{buyerNo}
        where product_no = #{productNo}
    </update>

    <!-- 부분 수정 -->
    <update id="updateUnit">
        update product
        <set>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="categoryCode != null">
                category_code = #{categoryCode},
            </if>
            <if test="description != null">
                description = #{description},
            </if>
            <if test="startPrice != null">
                start_price = #{startPrice},
            </if>
            <if test="finalPrice != null">
                final_price = #{finalPrice},
            </if>
            <if test="instantPrice != null">
                instant_price = #{instantPrice},
            </if>
            <if test="startTime != null">
                start_time = #{startTime},
            </if>
            <if test="endTime != null">
                end_time = #{endTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="buyerNo != null">
                buyer_no = #{buyerNo},
            </if>
        </set>
        where product_no = #{productNo}
    </update>

    <!-- 전체 개수 -->
    <select id="countByPaging" resultType="int">
        select count(*)
        from product
    </select>


    <!-- ✔ 페이징: 완전 정상 버전 (ROW_NUMBER) -->
    <select id="listByPaging" resultType="ProductDto">
        select *
        from (
            select TMP.*, row_number() over(order by product_no desc) rn
            from product TMP
        )
        where rn between #{begin} and #{end}
    </select>


 
    <update id="updateOnBid">
        update product
        set
              final_price = #{bidAmount}
            , buyer_no = #{bidMemberNo}
            , status = 'BIDDING'
        where product_no = #{productNo}
    </update>

   
    <update id="closeAuction">
        update product
        set
              status = 'CLOSED'
            , ended_time = systimestamp
        where product_no = #{productNo}
    </update>

</mapper>
