<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="product">

	<select id="sequence" resultType="long">
		select product_seq.nextval
		from dual
	</select>

	<insert id="add">
		insert into product(
			  product_no
			, seller_no
			, name
			, category_code
			, description
			, start_price
			, instant_price
			, start_time
			, end_time
		) values (
			  #{productNo}
			, #{sellerNo}
			, #{name}
			, #{categoryCode}
			, #{description}
			, #{startPrice}
			, #{instantPrice}
			, #{startTime}
			, #{endTime}
		)
	</insert>

	<select id="list" resultType="ProductDto">
		select *
		from product
		order by product_no desc
	</select>

	<select id="detail" resultType="ProductDto">
		select *
		from product
		where product_no = #{productNo}
	</select>

	<delete id="delete">
		delete from product
		where product_no = #{productNo}
	</delete>

	<update id="update">
		update product
		set
			  name          = #{name}
			, category_code = #{categoryCode}
			, description   = #{description}
			, start_price   = #{startPrice}
			, final_price   = #{finalPrice}
			, instant_price = #{instantPrice}
			, start_time    = #{startTime}
			, end_time      = #{endTime}
			, status        = #{status}
			, buyer_no      = #{buyerNo}
		where product_no = #{productNo}
	</update>

	<update id="updateUnit">
		update product
		<set>
			<if test="name != null">name = #{name},</if>
			<if test="categoryCode != null">category_code = #{categoryCode},</if>
			<if test="description != null">description = #{description},</if>
			<if test="startPrice != null">start_price = #{startPrice},</if>
			<if test="finalPrice != null">final_price = #{finalPrice},</if>
			<if test="instantPrice != null">instant_price = #{instantPrice},</if>
			<if test="startTime != null">start_time = #{startTime},</if>
			<if test="endTime != null">end_time = #{endTime},</if>
			<if test="status != null">status = #{status},</if>
			<if test="buyerNo != null">buyer_no = #{buyerNo},</if>
		</set>
		where product_no = #{productNo}
	</update>

	<select id="countByPaging" resultType="int">
		select count(*)
		from product
	</select>

	<select id="listByPaging" resultType="ProductDto">
		select *
		from (
			select TMP.*, row_number() over(order by product_no desc) rn
			from product TMP
		)
		where rn between #{begin} and #{end}
	</select>

	<update id="updateOnBid">
		update product
		set
			  final_price = #{bidAmount}
			, buyer_no = #{bidMemberNo}
			, status = 'BIDDING'
		where product_no = #{productNo}
	</update>

	<update id="closeAuction">
		update product
		set
			  status = 'CLOSED'
			, ended_time = systimestamp
		where product_no = #{productNo}
	</update>

	<update id="updateStatus">
		update product
		set status = #{changeStatus}
		where product_no = #{productNo}
	</update>

	<update id="updateProductOnAuctionEnd">
		update product
		set
			status = 'ENDED',
			final_price = #{finalPrice},
			buyer_no = #{buyerNo},
			ended_time = systimestamp
		where product_no = #{productNo}
	</update>

	<select id="selectOneForUpdate" resultType="ProductDto">
		select *
		from product
		where product_no = #{productNo}
		for update nowait
	</select>
	
	<!-- null일 수도 있어서 wrapper 클래스 사용 -->
	<select id="findExpiredProductNos" resultType="Long">
   		select product_no
    	from product
    		where 
			<![CDATA[
				end_time <= systimestamp
			]]>
      			and status = 'BIDDING'
	</select>
	
	<select id="findStartableProductNos" resultType="Long">
	    select product_no
	    from product
	    where
	        <![CDATA[
	            start_time <= systimestamp
	        ]]>
	        and status = 'REGISTRATION'
	</select>
	
	<select id="findSellerNoByProductNo" resultType="Long">
		select seller_no
		from product
		where product_no = #{productNo}
	</select>

	<select id="countBySeller" resultType="int">
		select count(*)
		from product
		where seller_no = #{sellerNo}
	</select>

	<select id="listBySellerPaging" resultType="ProductDto">
		select *
		from (
			select TMP.*, row_number() over(order by product_no desc) rn
			from product TMP
			where seller_no = #{sellerNo}
		)
		where rn between #{begin} and #{end}
	</select>

	<select id="countByBidding" resultType="int">
		select count(*)
		from product
		where status = 'BIDDING'
	</select>

	<select id="listByBiddingPaging" resultType="ProductDto">
		select *
		from (
			select TMP.*, row_number() over(order by product_no desc) rn
			from product TMP
			where status = 'BIDDING'
		)
		where rn between #{begin} and #{end}
	</select>
	
	<!-- productMapper.xml (추가) -->

	<select id="countAuction" resultType="int">
	  select count(*)
	  from product
	  where status = 'BIDDING'
	    and end_time > systimestamp
	</select>
	
	<select id="listAuctionByPaging" resultType="ProductDto">
	  select *
	  from (
	    select TMP.*, row_number() over(order by end_time asc) rn
	    from product TMP
	    where TMP.status = 'BIDDING'
	      and TMP.end_time > systimestamp
	  )
	  where rn between #{begin} and #{end}
	</select>

</mapper>
