<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="student">
	
	<!-- 등록(C) -->
	<insert id="insert">
		insert into student (
			student_no, student_name, student_kor, 
			student_eng, student_mat, student_reg
		)
		values(
			student_seq.nextval, #{studentName}, #{studentKor}, 
			#{studentEng}, #{studentMat}, systimestamp
		)
	</insert>
	
	<select id="list" resultType="StudentDto">
		select * from student order by student_no asc
	</select>
	
</mapper>



