<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Token">
	
	<insert id="insert">
		insert into token(
			token_no, target_id, value
		)
		values( 
			token_seq.nextval , 
			#{targetId} , 
			#{value} 
		)
	</insert>
	
	<select id="detail" resultType="TokenDto">
		select * from token
		where 
			target_id = #{targetId}
			and
			value = #{value}
	</select>
	
	<delete id="delete">
		delete token where token_no = #{tokenNo}
	</delete>
	<delete id="deleteByTarget">
		delete token where target_id = #{targetId}
	</delete>
	
</mapper>